In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("DataScience_jobs.csv")
df.head(5)

,Unnamed: 0,Title,Description,Price,Skills
0,0,LinkedIn Focused Data Extraction,Need a decently sized team of folks to help me...,£96\n (Avg Bid),Web Search
1,1,QuickBooks Data Entry and Reconciliation Expert,I am looking for a QuickBooks Desktop 2023 spe...,£18 / hr\n (Avg...,MYOB
2,2,data automation in excel,More details:\n\nWhat specific tasks do you wa...,£472\n (Avg Bid),Visual Basic for Apps
3,3,Research the number of existing and under-cons...,I made this instructional video explaining how...,£9 / hr\n (Avg ...,Web Search
4,4,Comprehensive Data Entry & Text Management,"...provide data entry, copy pasting, excel wor...",£290\n (Avg Bid),Word

In [3]:
df= df.drop(columns='Unnamed: 0', axis=1)

In [4]:
df.head(5)

,Title,Description,Price,Skills
0,LinkedIn Focused Data Extraction,Need a decently sized team of folks to help me...,£96\n (Avg Bid),Web Search
1,QuickBooks Data Entry and Reconciliation Expert,I am looking for a QuickBooks Desktop 2023 spe...,£18 / hr\n (Avg...,MYOB
2,data automation in excel,More details:\n\nWhat specific tasks do you wa...,£472\n (Avg Bid),Visual Basic for Apps
3,Research the number of existing and under-cons...,I made this instructional video explaining how...,£9 / hr\n (Avg ...,Web Search
4,Comprehensive Data Entry & Text Management,"...provide data entry, copy pasting, excel wor...",£290\n (Avg Bid),Word

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        400 non-null    object
 1   Description  400 non-null    object
 2   Price        400 non-null    object
 3   Skills       400 non-null    object
dtypes: object(4)
memory usage: 12.6+ KB